-var xarguments = arguments
div(class="asdf")
 foreach nestedViewArray as nestedViewItem
  div
   -var includeName = nestedViewItem.includeName+".blade"
   -xarguments[0].nestedViewItem = nestedViewItem
   include includeName