div(class="rootViewWrapper")
 foreach nestedViewArray as nestedViewItem
  div
   -var dynamicIncludeName = nestedViewItem.includeName
   include 'dynamicInclude' exposing dynamicIncludeName, nestedViewItem