div(class="tvShowView")
 h2 TV Show List
 h3 Click show for more details.
 div(class="tvShowList")
  ul
   foreach nestedViewItem.dataArray as itemDataObj
    include "tvShowItem" exposing itemDataObj, nestedViewItem